@import url('https://use.typekit.net/xyr3fuc.css') layer(base);

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-text: rgb(var(--text));
  --color-background: rgb(var(--background));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-accent: rgb(var(--accent));

  --font-calligraffitti: Calligraffitti;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  @font-face {
    font-family: 'Calligraffitti';
    src: url('/fonts/Calligraffitti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {
  :root {
    --text: 57 47 25;
    /* #392f19 */
    --background: 249 248 242;
    /* #f9f8f2 */
    --primary: 215 177 95;
    /* #d7b15f */
    --secondary: 229 218 153;
    /* #e5da99 */
    --accent: 139 190 132;
    /* #8bbe84 */
    --courier: 'courier-std', monospace;
    --garamond: 'cormorant-garamond', serif;
  }

  .dark {
    --text: 230 220 198;
    /* #e6dcc6 */
    --background: 14 13 6;
    /* #0e0d06 */
    --primary: 159 121 40;
    /* #9f7928 */
    --secondary: 101 90 26;
    /* #655a1a */
    --accent: 72 124 65;
    /* #487c41 */
  }
}

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 5rem;
    }

    body {
        color: color-mix(in srgb, rgb(var(--text)) 100%, rgb(var(--primary)));
        background: color-mix(
            in srgb,
            rgb(var(--background)) 100%,
            rgb(var(--primary))
        );
        font-family: var(--courier);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 700;
        width: fit-content;
    }

    html {
        font-size: 100%;
    }

    h1 {
        font-size: 4.210rem;
        color: color-mix(in srgb, rgb(var(--text)) 100%, rgb(var(--primary)));
    }

    h2 {
        font-size: 3.158rem;
        color: color-mix(in srgb, rgb(var(--text)) 90%, rgb(var(--primary)));
    }

    h3 {
        font-size: 2.369rem;
        color: color-mix(in srgb, rgb(var(--text)) 85%, rgb(var(--primary)));
    }

    h4 {
        font-size: 2.369rem;
        color: color-mix(in srgb, rgb(var(--text)) 80%, rgb(var(--primary)));
        font-family: var(--garamond);
    }

    h5 {
        font-size: 1.777rem;
        color: color-mix(in srgb, rgb(var(--text)) 75%, rgb(var(--primary)));
        font-family: var(--garamond);
    }

    p {
        font-size: 1.333rem;
        color: color-mix(in srgb, rgb(var(--text)) 75%, rgb(var(--primary)));
        font-family: var(--garamond);
        width: fit-content;
    }

    small {
        font-size: 1.000rem;
        color: color-mix(in srgb, rgb(var(--text)) 75%, rgb(var(--primary)));
        font-family: var(--garamond);
        width: fit-content;
    }

    ::selection {
        background-color: color-mix(
            in srgb,
            rgb(var(--primary)) 40%,
            rgb(var(--background))
        );
    }

    a {
        transition: all .4s ease-in-out;

        &:hover {
            color: color-mix(in srgb, rgb(var(--text)) 40%, rgb(var(--accent)));
            text-decoration: underline;
            transition: all .2s ease-in-out;
        }
    }
}
